/* @font-face {
    font-family: 'Cairo';
    src: url('../assets/fonts/family/Cairo-VariableFont_slnt/wght.ttf') format('truetype');
} */

@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap');


/* == general styles == */
:root
{
    --bg-white-900:#FFF;
    --bg-white-100: #b49164;
    /* --bg-white-shadow:rgba(223, 190, 107,.3) */
    --bg-white-50:#F9F8F8;
    --bg-white-75:#E1E1E1;
    --text-white-900:#000;
    /* --text-white-700:#e9e9e9; */
}

*,
::after,
::before {
    box-sizing: border-box;
}
body{

    font-family: "Cairo", sans-serif;
    margin: 0px;
    background-color: var(--bg-white-900);
}

h1,h2,h3,h4,h5,h6,span,p,a{
    font-family: "Cairo", sans-serif;
}

table td {
    vertical-align: middle !important;
}

a{
    cursor: poCairo;
    text-decoration: none;
    font-family: "Cairo",sans-serif;
}


li{
    list-style: none;
}

input:focus {
    border-color: var(--bg-white-100) !important;
    text-align: right;
    box-shadow: 0 0 0 .25rem rgba(223, 190, 107,.3) !important ;
}

textarea:focus {
    border-color: var(--bg-white-100) !important;
    text-align: right;
    box-shadow: 0 0 0 .25rem rgba(223, 190, 107,.3) !important ;
}

input[type=checkbox]:checked{
    background-color : var(--bg-white-100) !important;
}

input[type=radio]:checked{
    background-color : var(--bg-white-100) !important;
}

/*.nav-link.active{*/
/*    text-decoration: underline !important;*/
/*}*/

.section-header{
    margin-bottom:1.5rem !important;
    color: #b49164;
    text-align: center;
    font-family: Cairo;
    font-size: 30px;
    font-style: normal;
    font-weight: 800;
    line-height: 140%; /* 28px */
    letter-spacing: -0.4px;
}
/* == end general styles == */

/* == style layout == */

.btn-sidebar {
    background-color: var(--bg-white-100);
    border-radius: 10px;
    padding: 5px 10px;
}

.wrapper{
    align-items: stretch;
    background-color: var(--bg-white-900);
    display: flex;
    width: 100%;
}

#sidebar {
    max-width: 300px;
    min-width: 300px;
    background-color: #23282D;
    transition: all 0.35s ease-in-out;
    box-shadow: 0 0 15px 0 rgb(71 75 80 / 50%);
    z-index: 100;
}

/* == sidebar Javascript added Collapsed class == */
#sidebar.collapsed{
    margin-right: -300px;
}


/* == start sidebar style == */
.sidebar-logo {
    padding: .2rem ;
    text-align: center;
}

.sidebar-logo a {
    color:var(--text-white-900);
    font-size: 1.25rem;
    font-weight: 600;
}

.sidebar-nav {
    color: var(--text-white-900);
    font-size: .75rem;
    padding: 1.5rem 0 .375rem 0;
}
.sidebar-header{
    padding: .2rem;
    margin-bottom: 2rem;
    font-weight: bold;
    font-size: 1.8rem !important;
    text-align: center;
    color: white;
}
.sidebar-item a {
    margin-bottom:1px;
    font-size: 1rem !important;
    background-color: var(--bg-white-75);
    color:var(--text-white-900);
}

.sidebar-item span,i{
    text-align: right;
    font-weight: bold;
    font-size: 1rem !important;
    color:white;
}

a.sidebar-link {
    padding: .625rem 1.625rem;
    color: var(--text-white-900);
    position: relative;
    display: block;
    font-size: 1rem;
}

.sidebar-link[data-bs-toggle="collapse"].collapsed{
    background-color: var(--bg-white-100);
}

.sidebar-link.active{
    background-color: rgb(243, 228, 194)
}
.sidebar-link[data-bs-toggle="collapse"]::after{
    content: '';
    border: solid;
    border-width: 0 .150rem .150rem 0;
    display: inline-block;
    padding: 3px;
    position: absolute;
    left: 1.5rem;
    top: 1.4rem;
    transform: rotate(-135deg);
    transition: all 0.3s ease-out;
    color: var(--text-white-900);
}


.sidebar-link[data-bs-toggle="collapse"].collapsed::after{
    transform: rotate(45deg);
    transition: all 0.3s ease-out;

}

/* == start responsive side bar == */

@media(max-width:901px){
    #sidebar {
        max-width: 220px;
        min-width: 220px;
        margin-right: -220px;
        transition: all 0.35s ease-in-out;
    }


    #sidebar.collapsed{
        margin-right: 0;
    }

    a.sidebar-link span{
        display: none;
    }

    a.sidebar-link span::after{
       content: '';
       border: none;
    }

    a.sidebar-link i{
        padding: .625rem 1.625rem;
        color: var(--text-white-900);
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2.5rem !important;
    }
}/* == End responsive side bar == */

/* ========= end sidebar style =========== */


/* == Main And Content  containers == */
.main {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
    transition:  all 0.35s ease-in-out;
}

.content{
    padding: 2rem 3.5rem;
    flex: 1;
    width: 100%;
 }


/* ======= start Navbar style ======= */
.nav-link{
    font-size: 1.1rem;
    font-weight: 600;
    line-height: 120%;
    letter-spacing: -0.28px;
    margin-right: 10px;
    margin-left: 50px;
    /*color: var(--text-white-900);*/
    color: #b49164;
}

.nav-link:hover{
    color: white;
}

/*.nav-link:hover{*/
/*    text-decoration: underline;*/
/* }*/
 /* ======= End Navbar style ======= */



 /* ============= Start organization view =========== */
 .org-view{
    padding: 2rem;
 }

 .org-view span{
    color: var(--bg-white-100);
    text-align: right;
    font-family: Cairo;
    font-size: 28px;
    font-style: normal;
    font-weight: 800;
    line-height: 140%; /* 28px */
    letter-spacing: -0.4px;
 }
 .org-view a{
    color: white;

    font-family: Cairo;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 27px */
 }

 .org-view .org-view-file{
    padding: 1rem;
    background-color: var(--bg-white-50);
    border-radius: 25px;
    display: flex;
    justify-content: center;
 }

 .org-view .org-view-file .org-view-file-item{
    background-color: var(--bg-white-100);
    padding: 1rem;
    text-align: center;
    border-radius: 10px;
 }
 /* ============= Start organization view =========== */


 /* ======= start About Platform (index) style ======= */

/* ======= Additional Style ======= */

.about-platform {
    position: relative;
    min-height: 100vh;
}

.image-section {
    text-align: center;
}

.image-section img {
    width: 100%;
    height: 690px;
    object-fit: cover;
}

.intro-text {
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translateY(-120%);
    padding: 20px;
    border-radius: 8px;
    max-width: 35%;
    text-align: center;
    z-index: 10;
}

.intro-text h1 {
    color: white;
}

.intro-text p {
    font-size: 22px;
    color: white;
}

.list-news {
    position: absolute;
    bottom: 20px;
    left: 5%;
    transform: translateY(80%);
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.list-news-archive {
    bottom: 20px;
    left: 5%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.list-news-item {
    width: calc(33.33% - 20px);
    margin: 10px;
    border-radius: 8px;
    overflow: hidden;
    background: #fff0;
    transition: transform 0.3s ease;
}

.list-news-item:hover {
    transform: translateY(-10px);
}

.list-news-img img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 15px;
}

.list-news-desc {
    padding: 15px;
}


@media (max-width: 992px) {
    .list-news-item {
        width: calc(50% - 20px);
    }
}

@media (max-width: 768px) {
    .intro-text {
        max-width: 80%;
        transform: translateY(-470%);
    }

    .list-news {
        position: static; /* Change position to static for mobile devices */
        width: 100%;
        left: 0;
        transform: none;
        justify-content: center;
        margin-top: 20px; /* Add margin to separate from the image */
    }

    .list-news-item {
        width: calc(100% - 20px);
    }
}


/* ======= End Additional Style ======= */
.about-platform{
    margin-bottom: 40rem !important;
 }
.about-platform .intro {
    margin:0 ;
    padding: 1rem 0 ;
    background-color: white;
    border-radius: 25px;
}

.about-platform .intro .intro-text{
    padding: 2rem;
}

.intro .intro-text h1{
    font-weight: 800;
    color: var(--text-white-900);
    line-height: 140%; /* 25.2px */
    letter-spacing: -0.36px;
}

.intro .intro-text p{
    color: var(--text-white-900);
    text-align: right;
    font-family: Cairo;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 197%; /* 35.46px */
    letter-spacing: -0.36px;
}

.intro .intro-video video {
    border-radius: 25px;
    object-fit: fill;
}

.about-platform .news {
    margin:2rem 0 ;
    padding: 1rem ;
    background-color: var(--bg-white-75);
    border-radius: 25px;
}

/* .news .main-news{

    width: 100%;
} */

.news .main-news img{
    border-radius: 25px;
    width: 100%;
    height: 300px !important;
}

.about-platform .news .main-news h5{
    color: var(--text-white-900);
    text-align: right;
    font-family: Cairo;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%; /* 25.2px */
    letter-spacing: -0.36px;
}
.about-platform .news .main-news p{
    color: var(--text-white-900);
    text-align: right;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
}


.about-platform .news .list-news{
    margin: .75rem 0;
}
.about-platform .news .list-news-img img{
    border-radius: 25px;
    height: 140px;
    width: 100%;
}

.about-platform .news .list-news-desc h5{
    color: var(--text-white-900);
    text-align: right;
    font-family: Cairo;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%; /* 25.2px */
    letter-spacing: -0.36px;
}

.about-platform .news .list-news-desc p{
    color: var(--text-white-900);
    text-align: right;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
}

 /* ======= end About Platform (index) style ======= */

 /* ======= start News  Archive ======= */

.news-archive .news .list-news{
    margin: .75rem 0;
}
.news-archive .news .list-news-img img{
    border-radius: 25px;
    height: 140px;
    width: 100%;
}

.news-archive .news .list-news-desc h5{
    color: var(--text-white-900);
    text-align: right;
    font-family: Cairo;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%; /* 25.2px */
    letter-spacing: -0.36px;
}

.news-archive .news .list-news-desc p{
    color: var(--text-white-900);
    text-align: right;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
}

/* ======= End News  Archive ======= */

/* ======= start show News ======= */

.show-new .news{
    display: flex;
    align-items: center;
    justify-content: center;
}

/* .news .main-show  */
.news .main-show img{
    border-radius: 25px;
    height: 400px;
    width: 100%;
}


.news .list-show{
    margin: 4rem 0 1rem 0;
    padding: 0;
}

.news .list-show img{
    border-radius: 25px;
    height: 120px;
    width: 100%;
}


 /* ======= start list sectrol opportunities style ======= */

 .list-opp table th{
    color: var(--text-white-900);
    text-align: center;
    font-family: Cairo;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; /* 27px */
 }

 .list-opp table td{
    color: var(--text-white-900);
    text-align: center;
    font-family: Cairo;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 27px */
 }

 .list-opp table tr.refuse td{
    color: #06659A !important;
    font-weight: 600;
 }

 .list-opp table button{
    background-color:#39A18F !important;
    color: #FFF ;
    border: none;
    /* Small text */
    font-family: Cairo;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 24px */
 }

 /*.list-opp table button.user{*/
 /*   background-color:#06659A !important;*/

 /*}*/

 .list-opp a{
    color: #000;
 }


 .list-opp button{
    color: var(--text-white-900);
    font-family: Cairo;
    padding: 6px 24px;
    margin:5px 0 5px 5px !important;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 27px */
 }

 .list-opp label{
    color: var(--text-white-900);
    font-family: Cairo;
    padding: 0px 16px;
    margin:5px 0 5px 5px !important;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 27px */
 }

 .user-list-opp button{
    background-color:#06659A !important;
 }

 .user-list-opp a{
    color: #FFF !important;
    font-weight: 600;
 }

 .user-list-opp label{
    color: var(--text-white-900);
    margin-left: 8px;
    text-align: center;
    font-family: Cairo;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; /* 27px */
 }

 .list-opp .oppo-filter span{
    color: var(--text-white-900);
    margin-left: 8px;
    text-align: center;
    font-family: Cairo;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; /* 27px */
 }

/* ======= start Adddddddd opportunities style ======= */

.list-opp .oppo-form{
    background-color: var(--bg-white-50);
    padding: 3rem 2rem;
    border-radius: 25px;
    box-shadow: 0px 0px 30px 0px rgb(255 252 243 / 40%);
}

.list-opp .oppo-form label{
    color: var(--text-white-900);
    text-align: right;
    font-family: Cairo;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; /*27px*/
}

.list-opp .oppo-form button{
    margin-top: 3rem !important;
    background-color: #b49164;
}

.list-opp .oppo-form a{
   color: #FFF;
}


/* ======= start  Qualifying Test style ======= */
.test-form .add-test{
    padding:1rem 0;

}
.test-form .add-test button{
    padding: 0px 16px;
    margin-bottom: 1rem !important;
    justify-content: center;
    align-items: center;
    gap: 8px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #069A76;
    color: #FFF;
}

.test-form .add-test .qus{
    padding: 1rem;
    border-left: 1px solid var(--bg-white-75);
}

.test-form .add-test  legend {
    color: #000;
    text-align: right;
    font-family: Cairo;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; /* 27px */
}

.test-form .add-test  label{
    color: #000;
    text-align: center;
    font-family: Cairo;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 27px */
}






/* ====== Start OPPO Report section =======  */
.opp-report .oppo-form label{
    color: var(--text-white-900);
    font-family: Cairo;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; /* 27px */
}

.opp-report .opp-statistics table th{
    color: var(--text-white-900);
    text-align: center;
    font-family: Cairo;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; /* 27px */
}

.opp-report .opp-statistics table td{
    color: var(--text-white-900);
    text-align: center;
    font-family: Cairo;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 27px */
}


 /* ======= Strat show nusuk data style ======= */

 .nusuk-data label {
    color: var(--text-white-900);
    text-align: right;
    font-family: 'Cairo';
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%; /* 28px */
    letter-spacing: -0.4px;
 }

.org-file{
    background-color: var(--bg-white-75);
    border-radius: 25px;
    margin-top: 2rem;
    padding: 2rem .75rem;
}

.org-file span{
    color: var(--text-white-900);
    text-align: right;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%; /* 28px */
    letter-spacing: -0.4px;
}

.org-file .org-file-item{
    /* background-color: rebeccapurple; */
    padding: 20px;
}

.org-file .org-file-item button{
    border-radius: 8px;
    background: var(--bg-white-100);
}

.org-file .org-file-item a{
    color: var(--text-white-900);
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 27px */
}

 /* ======= Strat Open new Acc style ======= */

.add-acc-form span {
    color: #b49164;
    text-align: center !important;
    font-family: Cairo;
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%; /* 25.2px */
    letter-spacing: -0.36px;
}

.add-acc-form label {
    color: var(--text-white-900);
    text-align: right;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 24px */
}



.add-acc-form .org-data-form {
    border-left: 1px solid var(--bg-white-75) ;
}

.manager-data-form{
    border-left: 1px solid var(--bg-white-75) ;
}

.add-acc-form button{
    padding: 7px 45px !important;
}

.add-acc-form a{
    color:#FFF;
}

 /* ======= Strat sign forms style ======= */

 .sign{
    padding: 0;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

 }
 .sign .form-header{
    color: var(--text-white-900);
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%; /* 25.2px */
    letter-spacing: -0.36px;
    margin:1.5rem 0 ;
 }

 .sign .row{
    display: flex;
    justify-content: center;
    align-items: center;
 }

 .sign .form-box{
    padding: .5rem 2rem;
    border-radius: 25px;
    background-color: var(--bg-white-50);
    box-shadow: 0px 0px 30px 0px rgb(159 147 118 / 40%);
 }

 .sign .form-body .form-group {
    padding: .5rem;
    margin-bottom: .75rem;
 }

 .sign .form-body .form-group label {
    margin-bottom: .75rem;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 24px */
 }
 .form-body .form-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
 }

 .sign .form-body .form-btn button{
    padding: 7px 50px;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 24px */
 }

 .sign .form-body .form-footer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
 }

 .sign .form-body .form-footer a{
    color: var(--text-white-900);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 25.2px */
    letter-spacing: -0.36px;
    cursor: poCairo;
 }

 .sign .form-body .form-footer a:hover{
    text-decoration: underline;
 }

 /* ======= start Footer style ======= */
 .footer{

    padding: .75rem 0 !important;
    margin: 0;
    background-color: #23282D;;
 }


 .footer-section{
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
 }
 .footer-section span{
    color: #b49164;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%; /* 25.2px */
    letter-spacing: -0.36px;
 }

 .footer-link{
    color: white;
    font-family: Cairo;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%; /* 19.6px */
    letter-spacing: -0.28px;
 }
 .footer-link:hover{
    text-decoration: underline;
 }
  /* ======= end Footer style ======= */
